/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
}

#wrapper{
    width: 900px;
    margin: 20px auto;
}

#logout{
    text-align: right;
}
#sec1{
    margin: 25px auto;
}
#sec1 *{
    display: inline;
}

#wrapper h3{
    margin-bottom: 10px;
}
#wrapper table{
    border-collapse: collapse;
}
#wrapper table td{
    border: solid black 2pt;
    padding: 5px;
}